/* 
9B63BF Primario
7D00B3 Secundario
F25116 Acento

#D4B3FF FONDO BAANNER

 */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 *{
   /* margin: 0;
   padding: 0; */
   box-sizing: border-box;
   font-family: 'Poppins',sans-serif;
 }

.cont_logoybotones {
    background-color: #ffffff;
    display: flex;
    height: 50px;
}

.logo {
    height: 80%;
    flex: 0.8;
}

.botones {
    display: flex;
    flex: 1.2;
    align-items: center;
}

.buscador {
    flex: 1;
    border-color: #7D00B3;
    border-style: solid;
    border-width: 0.5px;
    border: 1%;
    margin: 2%;
    text-align: center;
}

.registro {
    flex: 1;
    border-color: #7D00B3;
    border-style: solid;
    border-width: 0.5px;
    border: 1%;
    margin: 2%;
    text-align: center;
}
.sesion {
    flex: 1;
    border-color: #7D00B3;
    border-style: solid;
    border-width: 0.5px;
    border: 1%;
    margin: 2%;
    text-align: center;
}
.ayuda {
    flex: 1;
    border-color: #7D00B3;
    border-style: solid;
    border-width: 0.5px;
    border: 1%;
    margin: 2%;
    text-align: center;
}
.favoritos {
    flex: 1;
    border-color: #7D00B3;
    border-style: solid;
    border-width: 0.5px;
    border: 1%;
    margin: 2%;
    text-align: center;
}

.cont_ppal {
    display: block;
}

.cachorro {
    display: flex;
    align-items: center;
    background-color: #9B63BF;
}

.foto_cachorro{
    flex: 1;
    width: 100%;
    margin: 2%;
}
.texto_cachorro{
    flex: 1;
    margin: 2%;
    text-align: center;
    color: #ffffff;
    font-size: larger;
}

.acerca_de{
    text-align: center;
    color: #494848;
    font-size: 20px;
}

.resto{
    display: flex;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.ventaja_dueño{
    flex:1;
    flex-wrap: wrap;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    text-align: justify;
}

.ventaja_dueño:hover{
    transform: scale(1.1) translate(1%, 1%);
    background-color: #d682e7;
}

.ventaja_mascota{
    flex:1;
    flex-wrap: wrap;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    text-align: justify;
}
.ventaja_mascota:hover{
    transform: scale(1.1) translate(1%, 1%);
    background-color: #d682e7;
}

.estamos_conectados{
    flex:1;
    flex-wrap: wrap;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    text-align: justify;
}
.estamos_conectados:hover{
    transform: scale(1.1) translate(1%, 1%);
    background-color: #d682e7;
}

.main_foot {
    align-items: center;
}

.footer {
    color: grey;
    border: 2%;
    text-align: center;
}