
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 *{
   box-sizing: border-box;
   font-family: 'Poppins',sans-serif;
 }
.todo {
    background-image: url(Static/img/puppy-2785074_1280.jpg);
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
    background-position: center; /* Centra la imagen dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.cont_logoybotones {
    display: flex;
    height: 50px;
}

.logo {
    height: 80%;
    flex: 1;
}

.botones {
    flex: 1;
    display: flex;
    align-items: center;
}

.buscador {
    flex: 1;
    border: 1%;
    margin: 2%;
    text-align: center;
}
.buscador:hover{
    transform: scale(1.1) translate(1%, 1%);
}
.registro {
    flex: 1;
    border: 1%;
    margin: 2%;
    text-align: center;
}
.registro:hover{
    transform: scale(1.1) translate(1%, 1%);
}
.sesion {
    flex: 1;
    border: 1%;
    margin: 2%;
    text-align: center;
}
.sesion:hover{
    transform: scale(1.1) translate(1%, 1%);
}
.ayuda {
    flex: 1;
    border: 1%;
    margin: 2%;
    text-align: center;
}
.ayuda:hover{
    transform: scale(1.1) translate(1%, 1%);
}
.favoritos {
    flex: 1;
    border: 1%;
    margin: 2%;
    text-align: center;
}
.favoritos:hover{
    transform: scale(1.1) translate(1%, 1%);
}

.cont_ppal {
}

.cachorro{
    display: flex;
}

.cachorro{
    /* background-image: url(Static/img/puppy-2785074_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  */
    overflow: hidden;
    height: 500px;
    width: 100%;
    align-items: center;
    /* color: #7D00B3; */
    color: #d682e7;
    font-size: larger;
    justify-content: center;
    text-align: center;
}

.nombre{
    color: #F25116;
}

.acerca_de{
    text-align: center;
    background-color: #d682e7ad;
    border-radius: 12px;
    padding: 30px;
    margin: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    padding: 10px 20px 10px 20px;
}

.resto{
    display: flex;
    transition: transform 0.3s ease, background-color 0.3s ease;
    padding: 2%;
    justify-content: space-evenly;
}

.ventaja_dueño{
    flex:1;
    flex-wrap: wrap;
    border-radius: 12px;
    padding: 30px;
    margin: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    text-align: justify;
}

.ventaja_dueño:hover{
    transform: scale(1.1) translate(1%, 1%);
    background-color: #d682e7ad;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    text-align: justify;
    transition: 1.5s;
}

.ventaja_mascota{
    flex:1;
    flex-wrap: wrap;
    border-radius: 12px;
    padding: 30px;
    margin: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    text-align: justify;
}
.ventaja_mascota:hover{
    transform: scale(1.1) translate(1%, 1%);
    background-color: #d682e7ad;
    transition: 1.5s;
}

.estamos_conectados{
    flex:1;
    flex-wrap: wrap;
    border-radius: 12px;
    padding: 30px;
    margin: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    text-align: justify;
}
.estamos_conectados:hover{
    transform: scale(1.1) translate(1%, 1%);
    background-color: #d682e7ad;
    transition: 1.5s;
}

.main_foot {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.media-icons{
    margin-top: 10px;
    display: flex;
}

.media-icons a{
    text-align: center;
    line-height: 33px;
    height: 35px;
    width: 35px;
    margin: 0 4px;
    font-size: 18px;
    color: #FFF;
    border-radius: 50%;
    border: 2px solid transparent;
    background: #9B63BF;
    transition: all 0.3s ease;
}

.media-icons a:hover{
    color: #f25116;
    background-color: #fff;
    border-color: #f25116;
}

.footer {
    color: grey;
    border: 2%;
    text-align: center;
}