/* Agrego Familia de letras */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
} 

.cont_logoybotones {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
        
}
/* Para que no subraye los hipervinculos*/
.cont_logoybotones a {
  text-decoration: none;
  color: #a954cd; /*Color de los botones header*/
}

.logo {
  max-width: 100%;
  height: 50px;
  flex: 1;
  
}

.botones {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 1.1em;
  font-weight: 500;
}

.buscador,
/* .registro, */
.sesion,
.ayuda,
.favoritos {
  flex: 1;
  margin: 2%;
  text-align: center;
  margin-left: 10px;
  
}
.buscador:hover{
  transform: scale(1.1) translate(1%, 1%);
  text-decoration:underline #a954cd 2px;
}
.sesion:hover{
  transform: scale(1.1) translate(1%, 1%);
  text-decoration:underline #a954cd 2px;
}
.ayuda:hover{
  transform: scale(1.1) translate(1%, 1%);
  text-decoration:underline #a954cd 2px;
}
.favoritos:hover{
  transform: scale(1.1) translate(1%, 1%);
  text-decoration:underline #a954cd 2px;
}  

/*Animación del Logo*/
.logo:hover{
  animation: tilt-n-move-shaking 0.5s infinite;
}
@keyframes tilt-n-move-shaking {
  0% {transform: translate(0,0) rotate(0deg);}
  25% {transform: translate(5px, 5px) rotate(5deg);}
  50% {transform: translate(0,0) rotate(0deg);}
  75% {transform: translate(-5px,5px) rotate(-5deg);}
  100% {transform: translate(0,0) rotate(0deg);}
}

/*estilos para la parte de las tarjetas de favoritos*/
body{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  position: relative;
}
body::before{
  content: '';
  position: absolute;
  width: 100%;
  background: #9B63BF;
  clip-path: inset(47% 0 0 0);
  z-index: -1;
  height: 100%;
}
::selection{
  background:    #9B63BF;
  color: #fff;
}
.container{
  max-width: 950px;
  width: 100%;
  overflow: hidden;
  padding: 80px 0;
}
/*Texto que esta arriba de las tarjetas de los cuidadores*/
.container h2{
  font-size: 1.5em;
  color: #9B63BF;
  margin: 50px;
  text-align: center;
}
.container .main-card{
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  transition: 1s;
}
#two:checked ~ .main-card{
  margin-left: -100%;
}
.container .main-card .cards{
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 0px;
  justify-content: space-between;
}
.main-card .cards .card{
  width: calc(100% / 3 - 10px);
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.main-card .cards .card:hover{
  transform: translateY(-15px);
}
.cards .card .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cards .card .content .img{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: #9B63BF;
  margin-bottom: 14px;
}
.card .content .img img{
  height: 100%;
  width: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
}
.card .content .name{
  font-size: 20px;
  font-weight: 500;
}
.card .content .job{
  font-size: 20px;
  color: #9B63BF;
}
.card .content .media-icons{
  margin-top: 10px;
  display: flex;

}
.media-icons a{
  text-align: center;
  line-height: 33px;
  height: 35px;
  width: 35px;
  margin: 0 4px;
  font-size: 18px;
  color: #FFF;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #9B63BF;
  transition: all 0.3s ease;
}
.media-icons a:hover{
  color: #f25116;
  background-color: #fff;
  border-color: #f25116;
}

.container .button{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.button label{
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #fff;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button label.active{
  width: 35px;
}
#one:checked ~ .button .one{
  width: 35px;
}
#one:checked ~ .button .two{
  width: 15px;
}
#two:checked ~ .button .one{
  width: 15px;
}
#two:checked ~ .button .two{
  width: 35px;
}
input[type="radio"]{
  display: none;
}
@media (max-width: 768px) {
  .main-card .cards .card{
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 600px) {
  .main-card .cards .card{
    /* margin: 20px 0 10px 0; */
    width: 100%;
  }
}


/*Boton de Fav*/
.btn{
  background-color:#9B63BF;
      display: inline-block;
      color:#ffffff;
      height: 40px;
      margin: .5%; 
      padding:0 35px;
      border-radius: 25px;
      font-size: 0.9em;
      font-weight: 600;
      border: 2px solid #9B63BF;
      text-align: center;
      /* Agregar efecto de botón presionado */
      transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

/* footer */
.main_foot {
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 380px 0 15px 0;
  left: 0;
}

.media-icons{
  margin-top: 10px;
  display: flex;
}

.media-icons a{
  text-align: center;
  line-height: 33px;
  height: 35px;
  width: 35px;
  margin: 0 4px;
  font-size: 18px;
  color: #FFF;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #9B63BF;
  transition: all 0.3s ease;
}

.media-icons a:hover{
  color: #f25116;
  background-color: #fff;
  border-color: #f25116;
}

.footer {
  color: grey;
  text-align: center;
  padding: 30px 0 0 0;
}

.footer a {
  text-decoration: none;
  color: grey;
}

.footer a:hover {
  text-decoration: underline;
  color: #f25116;
}
