<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador</title>
    <!-- Favicon -->
    <link rel="icon" href="/Static/img/favicon.ico">
    <link rel="stylesheet" href="/index.css">    
</head>

<body>
    <header>
        <!-- div contenedor para elementos del header -->
        <div>
            <!-- div contenedor para img logo -->
            <div class="cont_logoybotones">
                <div class="logo"></div>
                <div class="botones">
                    <div class="buscador"> <a href="/Templates/buscador.html">Encontra un Cuidador</a></div>                
                    <div class="registro"> <a href="/Templates/registro.html">Registro</a></div>
                    <div class="sesion"> <a href="/Templates/registro.html">Iniciar Sesión</a></div>
                    <div class="ayuda"> <a href="/Templates/registro.html">Ayuda</a></div>
                    <div class="favoritos"> <a href="/Templates/registro.html">Favoritos</a></div>
                </div>
            </div>
    </header>
    <main>
        <div class="buscadorPrincipal">
            <h2 class="tituloSection">¿Buscamos un cuidador para tu mascota?</h2>
            <form class="buscadorCuidador">
                <input class="inputBuscador" type="text" placeholder="Buscar..." id="buscar" name="buscar">
                <input class="botonBuscador" type="submit" value="Buscar">
            </form>
        </div>
        
    </main>

    <footer class="footer">
        <p>&copy; 2024 Cuidando Peluditos. Todos los derechos reservados.</p>
        <p>
            <a href="#about">Términos y Condiciones</a> |
            <a href="#contact">Contacto</a>
        </p>
    </footer>
</body>
</html>