<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador</title>
    <!-- Favicon -->
    <link rel="icon" href="/Static/img/favicon.ico">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/buscador.css">    
</head>

<body>
    <header>
        <!-- div contenedor para elementos del header -->
        <div>
            <!-- div contenedor para img logo -->
            <div class="cont_logoybotones">
                <div class="logo"></div>
                <div class="botones">
                    <div class="buscador"> <a href="/Templates/buscador.html">Encontra un Cuidador</a></div>                
                    <div class="registro"> <a href="/Templates/registro.html">Registro</a></div>
                    <div class="sesion"> <a href="/Templates/registro.html">Iniciar Sesión</a></div>
                    <div class="ayuda"> <a href="/Templates/registro.html">Ayuda</a></div>
                    <div class="favoritos"> <a href="/Templates/registro.html">Favoritos</a></div>
                </div>
            </div>
    </header>
    <main>
        <div class="buscadorPrincipal">
            <h2 class="tituloSection">¿Buscamos un cuidador para tu mascota?</h2>
            <form class="buscadorCuidador">
                <input class="inputBuscador" type="text" placeholder="Buscar..." id="buscar" name="buscar">
                <input class="botonBuscador" type="submit" value="Buscar">
            </form>
        </div>
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d27173.141697004627!2d-60.713937423046865!3d-31.64363155972695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1715802389238!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="20"></iframe>
            </div>
                   
    </main>

    <footer class="footer">
        <p>&copy; 2024 Cuidando Peluditos. Todos los derechos reservados.</p>
        <p>
            <a href="#about">Términos y Condiciones</a> |
            <a href="#contact">Contacto</a>
        </p>
    </footer>
</body>
</html>