<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <!-- div contenedor para elementos del header -->
        <div>
            <!-- div contenedor para img logo -->
            <div></div>
            <!-- div para navbar -->
            <div> 

                <a href="">Help</a>         
                <!-- search bar for looking available sitter -->
                <div>
                    <input type="text" placeholder="search">
                </div>
                <!-- link a favoritos -->
                <a href="/Templates/favoritos.html">Favorites</a>
                
            </div>
        </div>
    </header>
    <main>
        
        <!-- search bar for looking available sitter -->
        <div>
            <input type="text" placeholder="search">
        </div>

    </main>
    <footer></footer>
</body>
</html>